.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.white-key {
    width: 80px;
    height: 300px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-right: -1px; /* To make the borders overlap */
    cursor: pointer;
    position: relative;
}

.white-key:hover {
    background-color: #eee;
}

.black-key {
    width: 50px;
    height: 180px;
    background-color: #000000;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: -25px;
    z-index: 1;
    cursor: pointer;
}

.black-key:hover {
    background-color: #555;
}
